.btn-carrito {
  display: flex;
  flex-direction: row;
}
.btn-contacto {
  color: blueviolet;
  transition: all darkorange 5s;
}
.btn-contacto:hoover {
  color: darkorange 5s;
}
.counter {
  margin-left: 45%;
}
.pEdido {
  background-color: rgb(128, 36, 123);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
