.btn-carrito {
  display: flex;
  flex-direction: row;
}
.counter {
  margin-left: 43%;
}
.pEdido {
  background-color: rgb(128, 36, 123);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
