.datosComprador {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  font-family: sans-serif;
  color: black;
}
.tiTulo {
  text-align: center;
  font-size: 60px;
  font-family: sans-serif;
}
